<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
  <title>MobileWe-Search</title>

  <!-- css -->
  <link href="../css/base.css" rel="stylesheet">
  <link href="../css/project.css" rel="stylesheet">
  <!--<link href="../css/360box.css" rel="stylesheet" type="text/css" >-->
  <link href="../css/box360.css" rel="stylesheet" type="text/css" >
  <!--hover effect-->
  <link rel="stylesheet" type="text/css" href="../css/eHover.css">
  <!--Circlar carousel-->
  <link rel="stylesheet" type="text/css" href="../circularCarousel/css/style.css" >
  <link rel="stylesheet" type="text/css" href="../circularCarousel/css/jquery.jscrollpane.css" media="all">
  <!--Modal-->
  <link href="../css/modal.css" rel="stylesheet" type="text/css">
  <!--Fonts-->
  <link rel="stylesheet" type="text/css" href="../Fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../Fonts/ionicons/css/ionicons.css">
  <!--Photo Sphere-->
  <link href="Photo-Sphere/example1.css" rel="stylesheet" type="text/css"/>
  
  <!--gallery-->
  
  <link rel="stylesheet" type="text/css" href="gallery/css/main.css"> 

  <!--Photo Sphere-->
  <link href="Photo-Sphere/example1.css" rel="stylesheet" type="text/css"/>
  <!-- ... -->
</head>
<body class="page-red">
  <header class="header header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo margin-left-no" href="/"><img class="logotipo" src="images/logos/We-Search.png"></a>
    
    <!--<ul class="nav nav-list pull-right">
      <li class="dropdown margin-right">
        <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
          <span class="access-hide">John Smith</span>
          <span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="../images/users/avatar-001.jpg"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>login</a>
          </li>
       </ul>
      </li>
    </ul>-->
  </header>
  <nav aria-hidden="true" class="menu" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
      <div class="menu-content">
        <a class="menu-logo" href="/"><img class="logotipo" src="images/logos/We-Search-color.png"></a>
        <ul class="nav">
          <li>
            <a class="collaosed waves-attach" href="calle">Calle</a>
          </li>
          <!--<li>
            <a class="collapsed waves-attach" href="ocio">Ocio</a>
          </li>-->
          <li>
            <a class="collapsed waves-attach" href="cultura">Cultura</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="content">
    <div class="content-header ui-content-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
            <h1 class="content-heading"></h1> 
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">

    <!--Cntenido de la vista-->
    
    <div class="descripcion">
    <div class="logo">
      <a class="place-Tittle" href=""> <%= Places.name %> </a>
    </div><!-- end logo -->

    <nav>
      <ul class="justified">

      El poblado de Chiquinquirá se levantó a partir de las construcciones que ordenó Catalina de Irlos, viuda del encomendero Antonio de Santana, quien construyó sus aposentos sobre la margen izquierda del río Chiquinquirá. En el año 1586 ocurrió la restauración del cuadro de la Virgen de Chiquinquirá que sucedió, según se afirma, tras las oraciones de una mujer de origen español llamada María Ramos, evento al que se llamó la renovación.
        
      </ul>
    </nav><!-- end navigation menu -->

  </div><!-- end header -->

  <section class="main clearfix">
    
    <div class="work">
      <a id="go" href="#">
        <img src="images/Pruebas/Bares.jpg" class="image media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a id="go" href="#">
        <img src="images/Pruebas/Deportes.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a id="go" href="#">
        <img src="images/Pruebas/Restaurantes.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

    <div class="work">
      <a id="go" href="#">
        <img src="images/Pruebas/Bancos.jpg" class="media" alt=""/>
        <div class="caption">
          <div class="work_title">
            <h1>culpa qui officia deserunt mollit</h1>
          </div>
        </div>
      </a>
    </div>

  </section><!-- end main -->
    
    </div>

  </main>
  <footer class="ui-footer">
    <div class="container">
      <strong>&copy; 2016 <a href="">We-nnova</a> - Todos los derechos reservados</strong>
    </div>
  </footer>
  <div class="fbtn-container">
    <div class="fbtn-inner">
      <a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-text fbtn-text-left">Links</span><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
      <div class="fbtn-dropup">

        <a class="fbtn fbtn-red waves-attach waves-circle" href="/"><span class="fbtn-text fbtn-text-left">inicio</span><span class="icon">link</span></a>
      </div>
    </div>
  </div>

  <!--Photo Sphere-->
  <script type="text/javascript" src="Photo-Sphere/js/example1.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/photo-sphere-viewer.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/photo-sphere-viewer.min.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/three.min.js"></script>
 
  <!-- js -->
  <script src="../js/jquery.min.js"></script>
  
  <script src="../js/base.min.js"></script>
  <script src="../js/project.min.js"></script>
  <!--Score-->
  <script src="../js/score.js"></script>
  <!--circular Carousel-->
  <script type="text/javascript" src="../circularCarousel/js/jquery.js"></script>
  <script type="text/javascript" src="../circularCarousel/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="../circularCarousel/js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="../circularCarousel/js/jquery.contentcarousel.js"></script>
  
    <!--Photo Sphere-->
  <script type="text/javascript" src="Photo-Sphere/js/example1.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/photo-sphere-viewer.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/photo-sphere-viewer.min.js"></script>
  <script type="text/javascript" src="Photo-Sphere/js/three.min.js"></script>

  <script type="text/javascript">
      $('#ca-container').contentcarousel();
  </script>

  <script type="text/javascript">
  $(document).ready(function(){
    $("#go").click(function(){
      $("#go").fadeOut("slow");
    });
  });
</script>

<script type="text/javascript">
  var imagen=document.getElementById('image').src ;
   document.getElementById('Back-image').src=imagen;
</script>

    <script type="text/javascript">
  var nc = jQuery.noConflict();
  nc(document).ready(function() {
      <!--alert("Si salgo es que no hay conflicto!!!");-->
  });
  </script>
      
</body>
</html>